
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/AssetLogin/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/AssetLogin/~/AssetLogin/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/AssetLogin/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/AssetLogin/css/style.css">

    <title>Register</title>
</head>
<body>


    @RenderBody()



    <script src="~/AssetLogin/js/jquery-3.3.1.min.js"></script>
    <script src="~/AssetLogin/~/AssetLogin/js/popper.min.js"></script>
    <script src="~/AssetLogin/js/bootstrap.min.js"></script>
    <script src="~/AssetLogin/js/main.js"></script>
</body>
</html>
